# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

abi.json
audit_abi.json
registry_abi.json
registry_abi.json

anvil_output.log
anvil.log

run-*.json